header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px 56px;
    width: 100%;
    position: absolute;
    z-index: 5;

    @media (max-width: 768px) {
        padding: 34px 26px;
    }

    h2 {
        font-size: 1.8rem;
        line-height: 1em;
    }
}