* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

body {
    font-family: $fonte-padrao;
    color: $cor-fonte;
    background: $cor-principal;
    font-size: 1.125rem;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Benguiat";
    src: url(fontes/Benguiat\ Bold.ttf);
}


.container {
    width: 100%;
    padding: 0 7vw;
    margin: 0 auto;

    &.d-flex {
        display: flex;
    }
}

a {
    text-decoration: none;
    color: currentColor;
    outline: none;
}

ol,
ul {
    list-style: none;
}